{% extends 'base.html' %}

{% block body_block %}

<body>
    <h1>Machine Learning ML Ops Project</h1>
    <h3>Steps of Creation ML Ops</h3>
    <ul>
        <ol>
            <li>Flask</li>
            <li>Dockerfile</li>
            <li>github</li>
            <li>Heroku accounts</li>
        </ol>
        <li>Docker creating a Container and images</li>
        <li>Run command like docker build -t and image name and tag with path</li>
        <li>Create .docker ignore file</li>
        <li>All steps mentions in readmd file for records only</li>
        <li>write all command of git like
            <ol>
                <li> git add .</li>
                <li>git commit -m "first commit"</li>
                <li>git push origin main</li>
            </ol>
        </li>
        <li>Go git and check status</li>
    </ul>

    <p>For Details Project setups:

        <input type="submit"><a type="link" href="ops"> Project Structures</a>
    </p>

    {% endblock body_block %}